.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #295dc5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.header {
  background-color: darkblue;
  color: antiquewhite;
  font-size: 35px;
  text-align: center;
  padding-left: 35px;
}

.dropdown-strategies {
  margin: 0 auto;
}

.graphContainer {
    min-height: 50vh;
}
